
.container{
  max-width: 90%;
}

.item{
  justify-content:space-between;
  flex-basis:30%;
  max-width:25%;
  margin: 0;
}

.stage1-left{
  background-color: black;
  color: white;
  padding-left: 2%;
}

.stage2-left{
  background-color:darkgrey;
  color: white;
  padding-left: 2%;
}

.stage3-left{
  background-color:ghostwhite;
  color: black;
  padding-left: 2%;
}

.stage1-right, .stage2-right, .stage3-right{
  background-color: #FAFAFA;
}